<!DOCTYPE html>
	<html>
		<head> 
			<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
			<title>
				MORE IMAGES
			</title>
		</head>	
		<body>
		
  <ul> 
    <li> <a href="../index.html"> Home Page </a></li>
    <li> <a class="active" href="templates/more.html""> More Images </a></li>
  </ul>
  <h3>Revised Assignment</h3>

				<figure> 
				<div class=dropdown>
				<img src="../images/poland.jpg" width="250px" height="250px" alt="Painted houses in the Old Market Square in Poland">
				<div class=dropdown-content>
				<figcaption> I was born in Poland </figcaption>
				</div>
				</div>
				</figure>
				
				<figure> 
				<div class=dropdown>
				<img src="../images/barcelona.jpg" width="250px" height="250px" alt="Park Güell in Barcelona, Spain">
				<div class=dropdown-content>
				<figcaption> But I can speak Spanish as well </figcaption>
				</div>
				</div>
				</figure>

				<figure> 
				<div class=dropdown>
				<img src="../images/camera.jpg" width="250px" height="250px" alt="Man holding a camera">
				<div class=dropdown-content>
				<figcaption> Another one of my hobbies is photography </figcaption>
				</div>
				</div>
				</figure>

				<figure> 
				<div class=dropdown>
				<img src="../images/fashion.jpg" width="250px" height="250px" alt="Models walking down a runway during New York Fashion Week">
				<div class=dropdown-content>
				<figcaption> I want to work in fashion PR</figcaption>
				</div>
				</div>
				</figure>
		</body>
	</html>